*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin navlogo-gradient($svg, $top, $size) {
  -webkit-mask-size: $size;
  mask-size: $size;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-image: url("../components/svgs/" + $svg + ".svg");
  mask-image: url("../components/svgs/" + $svg + ".svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, black, black);
  height: $top;
  fill: transparent;
  width: 110%;
}

@mixin heading-logo($icon, $size1, $size2) {
  @include navlogo-gradient($icon, $size1, $size2);
  height: $size1;
  width: $size2;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 42.5%;
  }
}

.sect-1-main-text {
  font-family: "Franklin Gothic Medium";
  font-size: 12rem;
  color: #15283b;
  letter-spacing: -5px;
  text-shadow: -5px 5px 0px #4a5c6e77;
}

.sect-1-sub-text {
  font-family: "Franklin Gothic Medium";
  font-size: 6rem;
  color: #15283b;
}

.sect-1-par-text {
  font-family: "Lato";
  font-size: 3.5rem;
  color: #1f3c5a;
  font-weight: 600;
}

.section-1 {
  height: 100vh;
  width: 100%;
  display: flex;
  background: radial-gradient(
      circle at 95% 95%,
      #1450a3bb,
      #449dd1b5,
      transparent 25%
    ),
    radial-gradient(circle at 5% 5%, #ff8400e2, #fccf3a, transparent 30%);
  background-color: #d8eeff;
  overflow: hidden;
  z-index: 2;
}

.sect-1-hero {
  width: 100%;
  height: 100%;
  display: flex;
}

.sect-1-text {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
  margin-left: 10rem;
  height: auto;
  width: 100%;
}

.hero-img {
  height: 100%;
  width: 120%;
  margin: auto;
  position: relative;
}

.hero-rotate {
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  top: 0;
  right: 0;
  margin-top: 20%;
  margin-right: 30%;
  animation: rotate 3s ease forwards;
}

.hero-rotate-2 {
  position: absolute;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  top: 0;
  right: 0;
  margin-top: 20%;
  margin-right: 25%;
  animation: rotate-2 2.5s ease forwards;
}

.hero-rotate-3 {
  position: absolute;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  top: 0;
  right: 0;
  margin-top: 20%;
  margin-right: 35%;
  animation: rotate-3 2s ease forwards;
}

.moving-hero {
  position: absolute;
  width: 40rem;
  height: 40rem;
  background-image: linear-gradient(to bottom right, #449dd1, #1450a3);
  border-radius: 50%;
  animation: slide 3s ease forwards;
  font-size: 4rem;
  filter: drop-shadow(10px 10px 10px #37526781);
}

.moving-hero-2 {
  position: absolute;
  width: 25rem;
  height: 25rem;
  background-image: linear-gradient(to bottom right, #fccf3a, #fe4b09);
  border-radius: 50%;
  animation: slide-2 3s ease forwards;
  font-size: 4rem;
  filter: drop-shadow(5px 5px 5px #fe4a0975);
}

.moving-hero-3 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-image: linear-gradient(to bottom right, #5fd0df, #00cd7d);
  border-radius: 50%;
  animation: slide-3 3s ease forwards;
  font-size: 4rem;
  filter: drop-shadow(3px 3px 3px #00cd7e8b);
}

@keyframes rotate {
  0% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotate-2 {
  0% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(200deg);
  }
}

@keyframes rotate-3 {
  0% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(130deg);
  }
}

@keyframes slide {
  0% {
    transform: translateY(-20rem) rotate(-70deg);
  }
  100% {
    transform: translateY(0rem) rotate(-270deg);
  }
}

@keyframes slide-2 {
  0% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(-200deg);
  }
}

@keyframes slide-3 {
  0% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(-130deg);
  }
}

@keyframes hoverAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3rem);
  }
}

@keyframes hoverAnimation2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2rem);
  }
}

@keyframes hoverAnimation3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1rem);
  }
}

.home-navbar {
  background-color: #181818;
  height: 10rem;
  display: flex;
  align-items: center;
  z-index: 100;
  width: 100%;
  transition: all 0.2s;
  position: sticky;
  margin-bottom: -10rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 2rem;
}

.home-nav-logo {
  height: 8.5rem;
  width: 8.5rem;
  transition: all 0.2s;
  cursor: pointer;
  margin-right: auto;
}

.home-nav-logo:hover {
  filter: brightness(120%);
}

.main-nav-text {
  font-family: "Lato";
  font-size: 3rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.main-nav-text:hover {
  color: transparent;
  filter: brightness(120%);
}

.main-nav-col {
  background-image: linear-gradient(90deg, #1450a3, #449dd1);
  background-clip: text;
  transition: all 0.2s;
}

// .header-home-text {
//   font-size: 3rem;
//   color: white;
//   font-family: "Roboto", sans-serif;
//   line-height: 1;
//   padding-bottom: 0.3rem;
//   background-image: linear-gradient(0deg, #17ead9, #0057ff);
//   -webkit-background-clip: text;
//           background-clip: text;
//   transition: all 0.3s;
//   cursor: pointer;
// }

// .header-home-text:hover {
//   color: transparent;
// }

.nav-visible {
  top: 0;
}

.nav-hidden {
  transform: translateY(-100%);
  transition: all 0.3s;
}

.sect-1-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.sect-1-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  z-index: 10;
}

.sect-1-button-1 {
  height: 7rem;
  background-image: linear-gradient(90deg, #1450a3, #449dd1);
  border-radius: 20px;
  width: 25rem;
  border: solid 0px transparent;
  font-family: "Lato";
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(100%) drop-shadow(0px 0px 5px #375267);
  transition: all 0.2s;
  gap: 1rem;
  cursor: pointer;
}

.sect-1-button-1:hover {
  gap: 2rem;
  filter: brightness(150%) drop-shadow(0px 0px 5px #1450a3);
}

.sect-1-button-1:active {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #1450a3;
}

.sect-1-button-2 {
  gap: 1rem;
  height: 7rem;
  background-image: linear-gradient(90deg, #fe4b09, #ffb238);
  border-radius: 20px;
  width: 25rem;
  border: solid 0px transparent;
  font-family: "Lato";
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(100%) drop-shadow(0px 0px 5px #ff916a);
  transition: all 0.2s;
  cursor: pointer;
}

.sect-1-button-2:hover {
  gap: 2rem;
  filter: brightness(120%) drop-shadow(0px 0px 5px #fe4b09);
}

.sect-1-button-2:active {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #fe4b09;
}

.icon-mail {
  @include heading-logo(mail, 4rem, 4rem);
  background-image: linear-gradient(to right, white, white);
}

.icon-resume {
  @include heading-logo(resume, 4rem, 3rem);
  background-image: linear-gradient(to right, white, white);
}

.sect-1-socials {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem;
  z-index: 4;
}

.social-item {
  height: 12rem;
  width: 12rem;
}

.social-item-mailbox {
  height: 12rem;
  width: 12rem;
  @include heading-logo(mailbox, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
  cursor: pointer;
}

.social-item-github {
  height: 12rem;
  width: 12rem;
  @include heading-logo(github, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
  cursor: pointer;
}

.social-item-linkedin {
  height: 12rem;
  width: 12rem;
  @include heading-logo(linkedin, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
  cursor: pointer;
}

.sect-1-logo {
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 3rem;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 5px #3a4d5c);
  cursor: pointer;
  transition: all 0.2s;
  filter: brightness(100%);
}

.sect-1-logo:hover {
  filter: brightness(110%);
}

.sect-1-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3rem;
  display: flex;
  gap: 3rem;
  z-index: 4;
}

.sect-1-nav-text {
  font-family: "Lato";
  font-size: 3rem;
  color: #15283b;
  font-weight: 600;
  cursor: pointer;
}

.nav-text-1 {
  background-image: linear-gradient(90deg, #1450a3, #449dd1);
  background-clip: text;
  transition: all 0.2s;
}

.nav-text-1:hover {
  color: transparent;
  filter: brightness(120%);
}

.nav-text-2 {
  background-image: linear-gradient(90deg, #fe4b09, #ffb238);
  background-clip: text;
  transition: all 0.2s;
}

.nav-text-2:hover {
  color: transparent;
  filter: brightness(120%);
}

.nav-text-3 {
  background-image: linear-gradient(90deg, #52b1bd, #01b06d);
  background-clip: text;
  transition: all 0.2s;
}

.nav-text-3:hover {
  color: transparent;
}

.proj-text {
  font-family: "Franklin Gothic Medium";
  font-size: 4.5rem;
  color: #15283b;
  filter: drop-shadow(-5px 5px 0px #37526781);
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.section-2 {
  z-index: 0;
  height: 115vh;
  width: 100%;
  background-color: #d8eeff;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section-2-piece {
  height: 25vh;
  width: 100%;
}

.section-2-piece-last {
  height: 40vh;
  width: 100%;
}

.section-2-item {
  height: 25vh;
  width: 100%;
  position: absolute;
  transition: all 0.5s;
  display: flex;
}

.section-2-item-last {
  height: 40vh;
  width: 100%;
  position: absolute;
  transition: all 0.5s;
  display: flex;
  background-image: linear-gradient(to bottom right, #56bffc, #1d6bd9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-2-a {
  height: 100%;
  width: 50%;
  filter: drop-shadow(0px 5px 5px #0000002b);
  transition: all 0.2s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
}
.section-2-b {
  height: 100%;
  width: 50%;
  filter: drop-shadow(0px 5px 5px #0000002b);
  transition: all 0.5s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
}

.section-2-text {
  font-family: "Franklin Gothic Medium";
  font-size: 8rem;
  color: #15283b;
  text-shadow: -5px 5px 0px #4a5c6e77;
}

.section-2-text-small {
  font-family: "Franklin Gothic Medium";
  font-size: 5rem;
  color: #15283b;
  text-shadow: -5px 5px 0px #4a5c6e77;
}

.made-row {
  margin-top: 2rem;
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  filter: drop-shadow(-5px 5px 0px #15283bae);
}

.feature-item-html {
  position: relative;
  height: 12rem;
  width: 12rem;
  @include heading-logo(html, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.feature-item-css {
  position: relative;
  height: 12rem;
  width: 12rem;
  @include heading-logo(css, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.feature-item-js {
  position: relative;
  height: 12rem;
  width: 12rem;
  @include heading-logo(js, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.feature-item-sass {
  position: relative;
  height: 12rem;
  width: 12rem;
  @include heading-logo(sass, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.feature-item-next {
  position: relative;
  height: 12rem;
  width: 12rem;
  @include heading-logo(next, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.feature-item-vercel {
  position: relative;
  height: 12rem;
  width: 12rem;
  @include heading-logo(vercel, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.feature-item-mongodb {
  position: relative;
  height: 12rem;
  width: 12rem;
  @include heading-logo(mongodb, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.feature-item-framer {
  position: relative;
  height: 12rem;
  width: 12rem;
  @include heading-logo(framer, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.feature-item-figma {
  position: relative;
  height: 12rem;
  width: 12rem;
  @include heading-logo(figma, 12rem, 12rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.feature-annotation {
  text-align: center;
  position: absolute;
  height: 6rem;
  width: 15rem;
  border-radius: 15px;
  background-color: white;
  z-index: 2;
  margin-top: -8rem;
  margin-left: -1.5rem;
  display: flex;
  font-family: "Lato";
  font-size: 2rem;
  color: #1f3c5a;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  transform: translateY(1rem);
  opacity: 0;
}

.feature-annotation::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 1rem 1rem 0;
  border-style: solid;
  border-color: white transparent;
}

.made-container:hover .feature-annotation,
.made-container:active .feature-annotation {
  opacity: 1;
  transform: translateY(-0rem);
}

.section-3 {
  height: 100vh;
  width: 100%;
  background-color: #15283b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-3-text {
  font-family: "Franklin Gothic Medium";
  font-size: 12rem;
  color: #15283b;
  z-index: 3;
  transition: all 0.5s;
}

.section-3-text-x {
  position: absolute;
  font-family: "Franklin Gothic Medium";
  font-size: 12rem;
  color: #15283b;
  z-index: 3;
  transition: all 0.5s;
  transform: rotate(45deg);
}

.section-3-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
  transition: all 0.8s;
}

.section-3-b {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
  transition: all 0.8s;
}

.section-3-c {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s;
  margin-right: -60vw;
}

.section-4 {
  height: 100vh;
  width: 100%;
  background-color: #d8eeff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.section-4-set {
  width: 100%;
  height: 300%;
  background-color: #d8eeff;
  display: flex;
  transform: rotate(45deg);
  position: absolute;
}

.section-4-img {
  height: 100%;
  width: 25%;
  object-fit: cover;
  animation: scrollImage 60s linear infinite;
  background-repeat: repeat;
  transition: all 1s ease-in;
}

.section-4-img-b {
  height: 100%;
  width: 25%;
  object-fit: cover;
  animation: scrollImageReverse 60s linear infinite;
  background-repeat: repeat;
  transition: all 1s ease-in;
}

@keyframes scrollImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scrollImageReverse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.section-4-text {
  font-family: "Franklin Gothic Medium";
  font-size: 8rem;
  color: #15283b;
  z-index: 3;
  transition: all 0.5s;
  display: inline;
  margin: 0 auto;
}

.section-5 {
  width: 100%;
  height: auto;
  background-color: #d8eeff;
  padding: 5rem 10rem;
  position: relative;
  // background:
  // radial-gradient(circle at 100% 5%, #1450a3a4, #449dd1a0, transparent 30%),
  // radial-gradient(circle at 5% 35%, #5fd0dfc0, #00cd7e97, transparent 30%),
  //   radial-gradient(circle at 100% 65%, #fe4a0979, #fccf3a98, transparent 30%),
  // radial-gradient(circle at 5% 100%, #1450a3a4, #449dd1a0, transparent 30%);
}

.section-5-circle {
  height: 40rem;
  width: 40rem;
  background-color: white;
  border-radius: 50%;
  position: relative;
  margin: auto;
  filter: drop-shadow(-10px 10px 10px #37526781);

  border: solid 1.5rem transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, #0057ff, #7fc9ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.sect-5-cont {
  position: relative;
  margin: auto;
  height: 40rem;
  width: 40rem;
}

.section-5-img {
  height: 80%;
  width: 80%;
  object-fit: contain;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-5-wave {
  height: 90%;
  width: 90%;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0057ff;
  border-radius: 50%;
}

.section-5-desc {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-right: 0;
  overflow: hidden;
}

.sect-5-heading-text {
  font-family: "Franklin Gothic Medium";
  font-size: 6rem;
  color: #15283b;
  filter: drop-shadow(-5px 5px 0px #37526781);
  margin-bottom: 1rem;
}

.sect-5-desc-text {
  font-family: "Lato";
  font-size: 2.5rem;
  color: #1f3c5a;
  font-weight: 600;
  white-space: pre-wrap;
}

.sect-5-col-heading {
  font-family: "Lato";
  font-size: 3rem;
  color: #15283b;
  font-weight: 800;
  white-space: pre-wrap;
}

.sect-5-col-p {
  font-family: "Lato";
  font-size: 2rem;
  color: #1f3c5a;
  font-weight: 600;
  white-space: pre-wrap;
}

.sect-5-desc-cols {
  display: flex;
  width: 100%;
  gap: 3rem;
}

.sect-5-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.projects-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 5rem;
  width: 100%;
  align-items: center;
}

.project-item-frame {
  height: 45rem;
  width: 70rem;
  overflow: hidden;
  transition: all 0.5s;
  // filter: drop-shadow(-10px 10px 0px #3752679c);
  border-radius: 15px;
}

.project-main {
  height: 100%;
  width: 100%;
  background-color: #00cd7d;
  transition: all 0.5s;
  position: relative;
  transition: all 0.76s ease-out;
  cursor: pointer;
}

.proj-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.whitesheet {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom right, white, gray);
  opacity: 0.4;
  top: 0;
  left: 0;
}

.col-sheet-1 {
  height: 100%;
  width: 0%;
  position: absolute;
  background-image: linear-gradient(to bottom right, #449dd1, #1450a3);
  top: 0;
  left: 0;
  opacity: 0.8;
  transition: all 0.5s;
}

.sect-5-proj-text {
  font-family: "Franklin Gothic Medium";
  font-size: 4.5rem;
  color: #15283b;
  filter: drop-shadow(-5px 5px 0px #37526781);
  transition: all 0.5s;
}

.proj-text-cont {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  margin-left: 2rem;
  width: 100%;
  margin-bottom: -6.5rem;
  transition: all 0.5s;
}

.proj-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.proj-button {
  height: 6rem;
  background-image: linear-gradient(90deg, white, white);
  border-radius: 20px;
  width: 25rem;
  border: solid 0px transparent;
  font-family: "Lato";
  font-size: 2.5rem;
  color: #15283b;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 5px #375267);
  transition: all 0.2s;
  gap: 1rem;
  cursor: pointer;
}

.icon-gh {
  @include heading-logo(github, 3rem, 3rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.icon-live {
  @include heading-logo(live, 3rem, 3rem);
  background-image: linear-gradient(to right, #15283b, #15283b);
}

.sect-5-proj-num {
  font-family: "Franklin Gothic Medium";
  font-size: 10rem;
  color: #15283b;
  filter: drop-shadow(-5px 5px 0px #37526781);
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  transition: all 0.5s;
}

.wipe-1 {
  height: 100%;
  width: 150%;
  position: absolute;
  background-image: linear-gradient(to bottom right, #449dd1, #1450a3);
  top: 0;
  left: 0;
  transition: all 1.22s ease-out;
}

.portfolio-proj {
  // background-color: #15283B;
  background-color: #181818;
  height: auto;
  width: 100%;
  padding: 2rem;
}

.more-soon {
  height: 20vh;
  width: 100%;
  display: flex;
  background-image: linear-gradient(to bottom right, #00cd7d, #5fd0df);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.port-text {
  font-family: "Franklin Gothic Medium";
  font-size: 4.5rem;
  color: white;
  filter: drop-shadow(-5px 5px 0px #37526781);
  transition: all 0.5s;
}

.section-6 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, #fccf3a, #fe4b09);
  display: flex;
  overflow: hidden;
  position: relative;
}

.about-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 50%;
  position: relative;
}

.about-heading {
  font-family: "Franklin Gothic Medium";
  font-size: 7rem;
  color: #181818;
  filter: drop-shadow(-5px 5px 0px #6b6b6c81);
  transition: all 0.5s;
}

.about-p {
  font-family: "Lato";
  font-size: 2.5rem;
  color: #181818dd;
  font-weight: 600;
  white-space: pre-wrap;
  margin: 2rem 15%;
}

.about-web {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.section-7 {
  height: auto;
  width: 100%;
}

.section-7-piece {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
}

.section-7-main {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #00cd7d;
  z-index: 10;
  transition: all 1s;
  display: flex;
}

.story-piece {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-img {
  width: 80%;
}

.story-skill-list {
  height: auto;
  padding-bottom: 2rem;
  width: 100%;
  position: absolute;
  transition: all 0.5s;
  display: flex;
  background-color: #18181888;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  transition: all 0.5s;
}

.skill-row {
  margin-top: 2rem;
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.skill-container {
  transition: all 0.5s;
}

.skill-container:hover .feature-annotation,
.skill-container:active .feature-annotation {
  opacity: 1;
  transform: translateY(-0rem);
}

.skill-item-python {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(python, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-turtle {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(turtle, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-tkinter {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(tkinter, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-sql {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(sql, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-soup {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(soup, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-twilio {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(twilio, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-oop {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(oop, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-html {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(html, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-flask {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(flask, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-bootstrap {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(bootstrap, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-jinja {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(jinja, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-pandas {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(pandas, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-seaborn {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(seaborn, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-colab {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(colab, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-js {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(js, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-jquery {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(jquery, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-node {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(node, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-express {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(express, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-api {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(api, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-mongodb {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(mongodb, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-ui {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(ui, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-ux {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(ux, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-responsive {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(responsive, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-accessibility {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(accessibility, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-figma {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(figma, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-design {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(design, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-wireframe {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(wireframe, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-react {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(react, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-devtools {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(devtools, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-firebase {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(firebase, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-redux {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(redux, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-next {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(next, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-serverside {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(serverside, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-vercel {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(vercel, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-framer {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(framer, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-css {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(css, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-sass {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(sass, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-vscode {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(vscode, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-git {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(git, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-github {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(github, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-terminal {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(terminal, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skill-item-gitkraken {
  position: relative;
  height: 10rem;
  width: 10rem;
  @include heading-logo(gitkraken, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.687),
    rgba(255, 255, 255, 0.687)
  );
}

.skills-label {
  font-family: "Franklin Gothic Medium";
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.section-8 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  background-image: linear-gradient(
    to bottom right,
    #db19537a,
    #fe4a099a,
    #d8eeff
  );
  padding: 3%;
}

.main-skillset {
  background-color: #ffe2d8;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  border-radius: 30px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  position: relative;
  filter: drop-shadow(-10px 10px 10px #37526781) ;

  border: solid 1.5rem transparent;
  background-image: linear-gradient(#bfe1fc, #a0d4fc),
    linear-gradient(90deg, #00cd7d, #5fd0df);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.sub-skillset {
  background-color: #d8eeff;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  border-radius: 30px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  position: relative;
  filter: drop-shadow(-10px 10px 10px #37526781) ;

  border: solid 1.5rem transparent;
  background-image: linear-gradient(#bfe1fc, #a0d4fc),
      linear-gradient(90deg, #1450A3, #449DD1);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.fam-skillset {
  background-color: #d8eeff;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  border-radius: 30px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  position: relative;
  filter: drop-shadow(-10px 10px 10px #37526781) ;

  border: solid 1.5rem transparent;
  background-image: linear-gradient(#bfe1fc, #a0d4fc),
      linear-gradient(90deg, #fe4b09, #fccf3a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.final-annotation {
  text-align: center;
  position: absolute;
  height: 6rem;
  width: 15rem;
  border-radius: 15px;
  background-color: white;
  z-index: 2;
  margin-top: -7rem;
  display: flex;
  font-family: "Lato";
  font-size: 2rem;
  color: #1f3c5a;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  transform: translateY(1rem) translateX(-50%);
  opacity: 0;
  left: 50%;
}

.final-annotation::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 1rem 1rem 0;
  border-style: solid;
  border-color: white transparent;
}

.final-container {
  filter: drop-shadow(-5px 5px 0px rgb(0, 155, 175));
  position: relative;
}

.final-container-b {
  filter: drop-shadow(-5px 5px 0px #1450A3);
  position: relative;
}

.final-container-c {
  filter: drop-shadow(-5px 5px 0px #fe4b09);
  position: relative;
}

.final-container:hover .final-annotation,
.final-container:active .final-annotation {
  opacity: 1;
  transform: translateY(-0rem) translateX(-50%);
}

.final-container-b:hover .final-annotation,
.final-container-b:active .final-annotation {
  opacity: 1;
  transform: translateY(-0rem) translateX(-50%);
}

.final-container-c:hover .final-annotation,
.final-container-c:active .final-annotation {
  opacity: 1;
  transform: translateY(-0rem) translateX(-50%);
}

.skill-half {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-skill-text {
  font-family: "Franklin Gothic Medium";
  font-size: 6.5rem;
  color: #15283b;
  filter: drop-shadow(-5px 5px 0px #00cd7e8c);
  transition: all 0.5s;
  margin: 1rem;
}

.sub-skill-text {
  font-family: "Franklin Gothic Medium";
  font-size: 6.5rem;
  color: #15283b;
  filter: drop-shadow(-5px 5px 0px #449dd17f);
  transition: all 0.5s;
  margin: 1rem;
}

.fam-skill-text {
  font-family: "Franklin Gothic Medium";
  font-size: 6.5rem;
  color: #15283b;
  filter: drop-shadow(-5px 5px 0px #fe4a097e);
  transition: all 0.5s;
  margin: 1rem;
}

.final-item-html {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(html, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-js {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(js, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-css {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(css, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-react {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(react, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-sass {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(sass, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-framer {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(framer, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-next {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(next, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-mongodb {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(mongodb, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-git {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(git, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-figma {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(figma, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-vscode {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(vscode, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-vercel {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(vercel, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-github {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(github, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-ux {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(ux, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-ui {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(ui, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-responsive {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(responsive, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-accessibility {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(accessibility, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-design {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(design, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-wireframe {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(wireframe, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-api {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(api, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-redux {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(redux, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-devtools {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(devtools, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-gitkraken {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(gitkraken, 10rem, 10rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-python {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(python, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-flask {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(flask, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-bootstrap {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(bootstrap, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-jquery {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(jquery, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-node {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(node, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-express {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(express, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-firebase {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(firebase, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-jinja {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(jinja, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-sql {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(sql, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-turtle {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(turtle, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-tkinter {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(tkinter, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-soup {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(soup, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-pandas {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(pandas, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-seaborn {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(seaborn, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-colab {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(colab, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.final-item-twilio {
  position: relative;
  height: 8rem;
  width: 8rem;
  @include heading-logo(twilio, 8rem, 8rem);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  margin: 1rem auto;
}

.section-9{
  height: 100vh;
  width: 100%;
  position: relative;
}

.sect-9-bg{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}